body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.footerLast {
  text-align: center;
  background-color: #35434e;
  min-height: 40px;
  color: white;
  padding: 15px;
}
.XXbanner {
  background-image: url(../public/assets/img/banner-9.jpg);
  height: 100vh;
}

.simple-bg-screen-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../public/assets/img/banner-10.jpg);
  height: 100vh;
}
.inner-header-title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../public/assets/img/banner-10.jpg);
}
.profile-header-title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../public/assets/img/banner-3.jpg);
}
.nav-text {
  color: white;
  font-weight: 500;
  font-size: larger;
  margin-top: 5px;
}
.form-selector {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
.lowerText {
  font-size: large;
  color: darkgrey;
}
.small-btnX {
  text-transform: uppercase;
  max-width: 280px;
  display: table;
  margin: 10px auto;
  height: auto;
  border-radius: 10%;
}
.inner-header-title h1 {
  margin: auto;
}
.blankX {
  background: #35434e;
  max-height: 30px;
  position: relative;
}
.modalContent {
  text-transform: none;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 20px;
  margin-right: 20px;
}
.page-spanXX {
  color: #35434e;
}
.btn-page {
  margin: 5px;
  color: #35434e;
  background-color: whitesmoke;
}
.profile-hight {
  height: 40vh;
}
